html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.site-section {
  padding: calc(8rem) 1rem;
}

.site-section--light {
  background-color: #f6f6f6;
}

.site-section--dark {
  background-color: #191a1d;
}

.site-section__inner {
  max-width: 100rem;
  margin: 0 auto;
}

.site-section__header {
  padding-bottom: 4rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  color: #5e5e5e;
}

@media (max-width: 650px) {
  .site-section__header {
    font-size: 3rem;
  }
}

.site-section:last-of-type {
  padding: calc(calc(8rem) * 1.8) 2.5rem;
}

.site-header {
  background-color: #191a1d;
}

@media (max-width: 650px) {
  .site-header {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.5rem;
}

@media (max-width: 650px) {
  .site-header__inner {
    padding: 1.3rem;
  }
}

.site-header .site-header__logo {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.site-header .site-header__logo::after {
  content: "";
  display: block;
  width: 25%;
  padding: 0.3rem 0;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  background-color: #4b6cc1;
}

@media (max-width: 650px) {
  .site-header .site-header__logo::after {
    margin-top: 0.9rem;
    padding: 0.2rem;
  }
}

@media (max-width: 650px) {
  .site-header .site-header__logo {
    font-size: 1.6rem;
  }
}

.site-menu {
  width: 55%;
  font-size: 2.3rem;
  color: #919191;
}

@media (max-width: 650px) {
  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    color: #5e5e5e;
    -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
  }
}

.site-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8rem 0;
}

@media (max-width: 650px) {
  .site-menu__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.site-menu__item {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 650px) {
  .site-menu__item {
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0;
    border-bottom: 3px solid #eee;
  }
  .site-menu__item:hover {
    cursor: pointer;
    color: #191a1d;
  }
}

.site-menu__link {
  color: inherit;
}

.site-menu__link:hover {
  color: #ffffff;
}

@media (max-width: 650px) {
  .site-menu__link:hover {
    color: inherit;
  }
}

.burger-menu {
  display: none;
}

@media (max-width: 650px) {
  .burger-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 2.5rem;
    z-index: 100;
  }
}

.burger-menu__line {
  width: 3rem;
  padding: 0.15rem 0;
  background-color: #ffffff;
  border-radius: 0.3rem;
}

.burger-menu:hover {
  cursor: pointer;
}

#toggle-menu {
  position: fixed;
  left: -100%;
}

#toggle-menu:checked ~ label[for="toggle-menu"] .burger-menu__line {
  background-color: #919191;
}

#toggle-menu:checked ~ .site-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

label[for="toggle-menu"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-hero {
  padding: calc(calc(8rem) + 4rem) 2.5rem;
  background-color: #191a1d;
}

@media (max-width: 650px) {
  .site-hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105rem;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .site-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .site-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  max-width: 60rem;
}

@media (max-width: 650px) {
  .about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.about__header {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #ffffff;
}

.about__header::after {
  content: " \1F44B";
  font-size: inherit;
}

@media (max-width: 650px) {
  .about__header {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
}

.about__txt {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 4rem;
  color: #919191;
}

@media (max-width: 650px) {
  .about__txt {
    font-size: 2.5rem;
    max-width: 45rem;
    margin-bottom: 4rem;
  }
}

.about__img {
  width: 37rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 650px) {
  .about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 22rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 4rem;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  text-align: center;
  width: 33.33%;
  width: calc(100% / 3);
  margin-bottom: 4rem;
}

.skills__img {
  max-width: 13rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 650px) {
  .skills__img {
    width: 8rem;
  }
}

.skills__name {
  color: #5e5e5e;
  font-size: 2.8rem;
}

@media (max-width: 650px) {
  .skills__name {
    font-size: 1.8rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  width: 42rem;
  text-align: center;
  padding-bottom: 4rem;
  margin: 0 calc(4rem/ 2) 4rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.6rem;
  border-bottom: 0.6rem solid #4b6cc1;
  -webkit-box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.projects__img {
  width: 100%;
  margin-bottom: 4rem;
}

.projects__name {
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: #191a1d;
}

@media (max-width: 650px) {
  .projects__name {
    font-size: 2.2rem;
  }
}

.projects__desc {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  padding: 0 2.5rem;
  margin-bottom: 2.5rem;
  color: #5e5e5e;
}

@media (max-width: 650px) {
  .projects__desc {
    font-size: 1.8rem;
  }
}

.contact {
  width: 65%;
}

@media (max-width: 650px) {
  .contact {
    text-align: center;
    width: 100%;
    padding-bottom: 4rem;
  }
}

.contact__header {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #ffffff;
}

@media (max-width: 650px) {
  .contact__header {
    font-size: 4rem;
  }
}

.contact__txt {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
  color: #919191;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
}

.social-links__item:hover * {
  color: #ffffff;
}

.social-links__item:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.social-links__img {
  width: 2.3rem;
  margin-right: 1.5rem;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.social-links__link {
  font-size: 2.3rem;
  font-weight: 500;
  color: #919191;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

@media (max-width: 650px) {
  .social-links__link {
    font-size: 1.8rem;
  }
}

.form {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: calc(100rem / 2);
  height: 100%;
  padding: 5rem 3rem;
  background-color: #191a1d;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 650px) {
  .form {
    position: fixed;
    left: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1001;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .form {
    left: 0;
    width: 100%;
    padding: 5rem 10rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.form__close {
  position: absolute;
  top: 0;
  right: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: 900;
  color: #919191;
}

.form__close:hover {
  cursor: pointer;
  color: #ffffff;
}

@media (max-width: 650px) {
  .form__close {
    font-size: 4rem;
  }
}

.form__label {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #919191;
}

.form__input {
  height: 3.5rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  border-radius: 0.6rem;
  border: 2px solid #919191;
}

@media (max-width: 650px) {
  .form__input {
    height: 6rem;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .form__input {
    height: 5rem;
  }
}

.form__input--text {
  height: 10rem;
  margin-bottom: 4rem;
  resize: none;
}

label[for="toggle-contactform"] {
  opacity: 1;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

#toggle-contactform {
  position: fixed;
  left: -100%;
}

#toggle-contactform:checked ~ .form {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 650px) {
  #toggle-contactform:checked ~ .form {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  #toggle-contactform:checked ~ .form {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#toggle-contactform:checked ~ label[for="toggle-contactform"] {
  opacity: 0;
}

.site-footer {
  padding: 4rem 0;
  background-color: #101114;
}

.site-footer__inner {
  text-align: center;
}

.site-footer__copyright {
  font-size: 1.8rem;
  font-weight: 300;
  color: #919191;
}

.btn {
  display: inline-block;
  border: 2px solid #4b6cc1;
  color: #ffffff;
  background-color: #4b6cc1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
}

.btn--large {
  font-size: 3rem;
  padding: 2.3rem 4rem;
  border-radius: 5rem;
}

.btn--large:hover {
  -webkit-box-shadow: 0 0 15px 3px rgba(75, 108, 193, 0.3);
          box-shadow: 0 0 15px 3px rgba(75, 108, 193, 0.3);
}

@media (max-width: 650px) {
  .btn--large {
    padding: 2rem 3.3rem;
    font-size: 2rem;
  }
}

.btn--small {
  font-size: 2rem;
  padding: 1.5rem 5rem;
  margin: 0 1rem;
  border: none;
  border-radius: 3rem;
  color: #191a1d;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn--small:hover {
  color: #ffffff;
}

.btn--hov-accent:hover {
  background-color: #4b6cc1;
}

.btn--hov-dark:hover {
  background-color: #191a1d;
}

.slanted-bottom {
  padding-bottom: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - calc(8rem)));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - calc(8rem)));
}

.slanted-top {
  padding-top: 11rem;
  -webkit-clip-path: polygon(0 0, 100% calc(8rem), 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% calc(8rem), 100% 100%, 0 100%);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pos-rel {
  position: relative;
}
