html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 650px) {
  html {
    color: green;
  }
}

@media (min-width: 650px) and (max-width: 965px) {
  html {
    color: blue;
  }
}

@media (min-width: 965px) {
  html {
    color: red;
  }
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
}

.site-section {
  padding: calc(8rem) 1rem;
}

.site-section--light {
  background-color: #f6f6f6;
}

.site-section--dark {
  background-color: #191a1d;
}

.site-section__inner {
  border: 1px dashed;
  max-width: 100rem;
  margin: 0 auto;
}

.site-section__header {
  border: 1px solid green;
  padding-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 500;
  color: #5e5e5e;
}

@media (max-width: 650px) {
  .site-section__header {
    font-size: 4rem;
  }
}

.site-header {
  background-color: #191a1d;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.site-header .site-header__logo {
  color: #ffffff;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 500;
}

.site-header .site-header__logo::after {
  content: "";
  display: block;
  width: 25%;
  margin-top: 1.5rem;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  background-color: #4b6cc1;
}

@media (max-width: 650px) {
  .site-header {
    position: fixed;
    width: 100%;
  }
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  color: #919191;
  font-size: 2.3rem;
}

.site-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8rem 0;
}

.site-menu__item {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-menu a:hover {
  color: #ffffff;
  cursor: pointer;
}

.burger-menu {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.burger-menu__line {
  width: 4rem;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  display: block;
  background-color: #ffffff;
  border-radius: 3px;
}

@media (max-width: 650px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-banner {
  background-color: #191a1d;
  padding: calc(calc(8rem) + 4rem) 1rem;
}

.site-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105rem;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .site-banner__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (min-width: 650px) and (max-width: 965px) {
  .site-banner__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 650px) {
  .site-banner {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about {
  max-width: 60rem;
}

.about__header {
  color: #ffffff;
  margin-bottom: 4rem;
  font-size: 7rem;
  font-weight: 400;
}

.about__header::after {
  content: " \1F44B";
  font-size: inherit;
}

@media (max-width: 650px) {
  .about__header {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}

.about__txt {
  color: #919191;
  line-height: 1.4;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

@media (max-width: 650px) {
  .about__txt {
    font-size: 2.5rem;
    padding: 0 4rem;
    margin-bottom: 4rem;
  }
}

.about__img--wrapper {
  text-align: center;
}

@media (max-width: 650px) {
  .about__img--wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 4rem;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media (min-width: 650px) and (max-width: 965px) {
  .about__img--wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 4rem;
  }
}

.about__img {
  width: 35rem;
}

@media (max-width: 650px) {
  .about__img {
    width: 28rem;
  }
}

@media (max-width: 650px) {
  .about {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 650px) and (max-width: 965px) {
  .about {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  border: 1px dashed;
  width: 33.33%;
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 4rem;
}

.skills__img {
  max-width: 13rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 650px) {
  .skills__img {
    width: 10rem;
  }
}

.skills__name {
  font-size: 2.8rem;
}

@media (max-width: 650px) {
  .skills__name {
    font-size: 2rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__item {
  margin: 0 calc(4rem/ 2) 4rem;
  padding-bottom: 4rem;
  text-align: center;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0.6rem solid #4b6cc1;
}

.projects__img {
  margin-bottom: 4rem;
}

.projects__name {
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.projects__desc {
  font-size: 2rem;
  font-weight: 300;
  color: #5e5e5e;
  margin-bottom: 2.5rem;
}

.projects__ctas {
  text-align: center;
}

.contact {
  width: 70%;
}

.contact__header {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.contact__txt {
  font-size: 2.5rem;
  color: #919191;
  margin-bottom: 4rem;
  font-weight: 300;
}

.social-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social-links__inner {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
}

.social-links__item:hover {
  cursor: pointer;
}

.social-links__item:hover > * {
  color: #ffffff;
}

.social-links__item:hover > img {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-filter: invert(1);
          filter: invert(1);
}

.social-links__img {
  width: 2.3rem;
  margin-right: 1.3rem;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.social-links__link {
  text-decoration: none;
  color: #919191;
  font-weight: 500;
  font-size: 2.3rem;
  text-transform: uppercase;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.site-footer {
  background-color: #101114;
  padding: 5rem 0;
}

.site-footer__inner {
  text-align: center;
}

.site-footer__copyright {
  font-size: 1.8rem;
  font-weight: 300;
  color: #919191;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #4b6cc1;
  color: #ffffff;
}

.btn--large {
  font-size: 3rem;
  padding: 2.3rem 4rem;
  border-radius: 5rem;
}

.btn--small {
  font-size: 2rem;
  padding: 1.5rem 5rem;
  margin: 0 1rem;
  border-radius: 3rem;
  background-color: transparent;
  color: #191a1d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn--small:hover {
  background-color: #4b6cc1;
  color: #ffffff;
}

.btn--dark:hover {
  color: #ffffff;
  background-color: #191a1d;
}

.slanted-bottom {
  padding-bottom: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

.slanted-top {
  padding-top: 11rem;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
