/***************

Variables

****************/
/***************

Mixins

****************/
/***************

Globals + Reset

****************/
html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

/***************

Components

****************/
.site-section {
  padding: calc(8rem) 1rem;
}

.site-section--light {
  background-color: #f6f6f6;
}

.site-section--dark {
  background-color: #191a1d;
}

.site-section__inner {
  border: 3px dashed red;
  max-width: 100rem;
  margin: 0 auto;
}

.site-section__header {
  border: 1px solid green;
  padding-bottom: 4rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  color: #5e5e5e;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .site-section__header {
    font-size: 4rem;
  }
}

.site-section:last-of-type {
  padding: calc(calc(8rem) * 1.8) 1rem;
}

.site-header {
  background-color: #191a1d;
}

@media (max-width: 650px) {
  .site-header {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
  }
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.5rem;
}

.site-header .site-header__logo {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.site-header .site-header__logo::after {
  content: "";
  display: block;
  width: 25%;
  padding: 0.3rem 0;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  background-color: #4b6cc1;
}

.site-menu {
  width: 55%;
  font-size: 2.3rem;
  color: #919191;
}

@media (max-width: 650px) {
  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    color: #5e5e5e;
    -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  }
}

.site-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8rem 0;
}

@media (max-width: 650px) {
  .site-menu__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.site-menu__item {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 650px) {
  .site-menu__item {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0;
    border-bottom: 3px solid #eee;
  }
  .site-menu__item:hover {
    cursor: pointer;
    color: #191a1d;
  }
}

.site-menu__link {
  text-decoration: none;
  color: inherit;
}

.site-menu__link:hover {
  color: #ffffff;
}

@media (max-width: 650px) {
  .site-menu__link:hover {
    color: inherit;
  }
}

.burger-menu {
  display: none;
}

@media (max-width: 650px) {
  .burger-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.5rem;
    z-index: 100;
  }
}

.burger-menu__line {
  width: 4rem;
  padding: 0.25rem 0;
  background-color: #ffffff;
  border-radius: 0.3rem;
}

.burger-menu:hover {
  cursor: pointer;
}

#toggle-menu {
  position: fixed;
  left: -100%;
}

#toggle-menu:checked ~ label[for="toggle-menu"] .burger-menu__line {
  background-color: #919191;
}

#toggle-menu:checked ~ .site-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.site-hero {
  padding: calc(calc(8rem) + 4rem) 2.5rem;
  background-color: #191a1d;
}

@media (max-width: 650px) {
  .site-hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105rem;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .site-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .site-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  max-width: 60rem;
}

@media (max-width: 650px) {
  .about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.about__header {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #ffffff;
}

.about__header::after {
  content: " \1F44B";
  font-size: inherit;
}

@media (max-width: 650px) {
  .about__header {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}

.about__txt {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 4rem;
  color: #919191;
}

@media (max-width: 650px) {
  .about__txt {
    font-size: 2.5rem;
    max-width: 45rem;
    margin-bottom: 4rem;
  }
}

.about__img {
  width: 37rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 650px) {
  .about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 28rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 4rem;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  border: 1px dashed;
  width: 33.33%;
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 4rem;
}

.skills__img {
  max-width: 13rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 650px) {
  .skills__img {
    width: 10rem;
  }
}

.skills__name {
  font-size: 2.8rem;
}

@media (max-width: 650px) {
  .skills__name {
    font-size: 2rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__item {
  margin: 0 calc(4rem/ 2) 4rem;
  padding-bottom: 4rem;
  text-align: center;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0.6rem solid #4b6cc1;
}

.projects__img {
  margin-bottom: 4rem;
}

.projects__name {
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.projects__desc {
  font-size: 2rem;
  font-weight: 300;
  color: #5e5e5e;
  margin-bottom: 2.5rem;
}

.projects__ctas {
  text-align: center;
}

.contact {
  width: 65%;
}

.contact__header {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

@media (max-width: 650px) {
  .contact__header {
    font-size: 4rem;
  }
}

.contact__txt {
  font-size: 2.5rem;
  color: #919191;
  margin-bottom: 4rem;
  font-weight: 300;
}

@media (max-width: 650px) {
  .contact {
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
  }
}

.social-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
}

.social-links__item:hover {
  cursor: pointer;
}

.social-links__item:hover > * {
  color: #ffffff;
}

.social-links__item:hover > img {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-filter: invert(1);
          filter: invert(1);
}

.social-links__img {
  width: 2.3rem;
  margin-right: 1.3rem;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.social-links__link {
  text-decoration: none;
  color: #919191;
  font-weight: 500;
  font-size: 2.3rem;
  text-transform: uppercase;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.site-footer {
  background-color: #101114;
  padding: 4rem 0;
  border-top: 1px solid #5e5e5e;
}

.site-footer__inner {
  text-align: center;
}

.site-footer__copyright {
  font-size: 1.8rem;
  font-weight: 300;
  color: #919191;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #4b6cc1;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid #4b6cc1;
}

.btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.btn--large {
  font-size: 3rem;
  padding: 2.3rem 4rem;
  border-radius: 5rem;
}

.btn--large:hover {
  -webkit-box-shadow: 0 0 15px 3px rgba(75, 108, 193, 0.3);
          box-shadow: 0 0 15px 3px rgba(75, 108, 193, 0.3);
}

.btn--small {
  font-size: 2rem;
  padding: 1.5rem 5rem;
  margin: 0 1rem;
  border-radius: 3rem;
  background-color: transparent;
  color: #191a1d;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.btn--small:hover {
  background-color: #4b6cc1;
  color: #ffffff;
}

.btn--dark:hover {
  color: #ffffff;
  background-color: #191a1d;
}

.slanted-bottom {
  padding-bottom: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - calc(8rem)));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - calc(8rem)));
}

.slanted-top {
  padding-top: 11rem;
  -webkit-clip-path: polygon(0 0, 100% calc(8rem), 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% calc(8rem), 100% 100%, 0 100%);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100rem / 2);
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  background: #ffffff;
  background-color: #191a1d;
  color: #ffffff;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 650px) {
  .form {
    left: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .form {
    left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 5rem 10rem;
  }
}

.form__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  color: #919191;
  font-size: 2.4rem;
  font-weight: 900;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form__close:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
}

@media (max-width: 650px) {
  .form__close {
    font-size: 4rem;
  }
}

.form__label {
  color: #919191;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.form__input {
  height: 3.5rem;
  border-radius: 0.6rem;
  border: 2px solid #919191;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 650px) {
  .form__input {
    height: 6rem;
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  .form__input {
    height: 5rem;
  }
}

.form__input--text {
  height: 10rem;
  resize: none;
  margin-bottom: 4rem;
}

label[for="toggle-contactform"] {
  opacity: 1;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#toggle-contactform {
  position: fixed;
  left: -100%;
}

#toggle-contactform:checked ~ form {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 650px) {
  #toggle-contactform:checked ~ form {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 650px) and (max-width: 995px) {
  #toggle-contactform:checked ~ form {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#toggle-contactform:checked ~ label[for="toggle-contactform"] {
  opacity: 0;
}

.pos-rel {
  position: relative;
}
