html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
}

.site-section {
  border: 1px dashed black;
}

.site-section__inner {
  border: 1px solid red;
  max-width: 100rem;
  margin: 0 auto;
}

.site-header {
  background-color: #191a1d;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
}

.site-header .site-header__logo {
  color: #ffffff;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 500;
}

.site-header .site-header__logo::after {
  content: "";
  display: block;
  width: 25%;
  margin-top: 1.5rem;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  background-color: #4b6cc1;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  color: #919191;
  font-size: 2.3rem;
}

.site-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8rem 0;
}

.site-menu__item {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-menu a:hover {
  color: #ffffff;
  cursor: pointer;
}

.site-banner {
  background-color: #191a1d;
}

.site-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
}

.about {
  max-width: 60rem;
  border: 1px solid blue;
}

.about__header {
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-size: 6rem;
  font-weight: 400;
}

.about__txt {
  color: #919191;
  line-height: 1.4;
  font-size: 3rem;
}

.about__img {
  border: 1px solid blue;
  min-width: 40rem;
  text-align: center;
}
