@mixin mobile {
  @media (max-width: #{$max-mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$max-mobile-width}) and (max-width: #{$max-tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$max-tablet-width}) {
    @content;
  }
}
@mixin animation-slideUp($delay) {
  opacity: 0;
  transform: translateY(0%);
  animation: slideUp ease-out 0.8s $delay;
  animation-fill-mode: forwards;
}
