/***************

Variables

****************/

// Colors
$primary-accent: #4b6cc1;
$primary-lightest: #ffffff;
$primary-light: #f6f6f6;
$primary-dark: #919191;
$primary-darker: #5e5e5e;
$primary-darkest: #191a1d;

// Layout
$spacing-xsml: 1.5rem;
$spacing-sml: 2.5rem;
$spacing-med: 4rem;
$spacing-lrg: calc(#{$spacing-med * 2});
$spacing-xlrg: calc(#{$spacing-lrg} + #{$spacing-med});
$content-width: 100rem;

// Animations
$transition-default: all ease-out 0.2s;

// Breakpoints
$max-mobile-width: 650px;
$max-tablet-width: 995px;

/***************

Mixins

****************/

@mixin mobile {
  @media (max-width: #{$max-mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$max-mobile-width}) and (max-width: #{$max-tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$max-tablet-width}) {
    @content;
  }
}

/***************

Globals + Reset

****************/

html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%; //10/16
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

/***************

Components

****************/

.site-section {
  padding: $spacing-lrg 1rem;

  &--light {
    background-color: $primary-light;
  }

  &--dark {
    background-color: $primary-darkest;
  }

  &__inner {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__header {
    padding-bottom: $spacing-med;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: $primary-darker;

    @include mobile {
      font-size: 4rem;
    }
  }

  &:last-of-type {
    padding: calc(#{$spacing-lrg} * 1.8) $spacing-sml;
  }
}

.site-header {
  background-color: $primary-darkest;

  @include mobile {
    position: fixed;
    width: 100%;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    padding: $spacing-sml;

    @include mobile {
      padding: 1.3rem;
    }
  }

  .site-header__logo {
    color: $primary-lightest;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;

    &::after {
      content: "";
      display: block;
      width: 25%;
      padding: 0.3rem 0;
      margin-top: $spacing-xsml;
      border-radius: 0.3rem;
      background-color: $primary-accent;

      @include mobile {
        margin-top: 0.9rem;
        padding: 0.2rem;
      }
    }

    @include mobile {
      font-size: 1.6rem;
    }
  }
}

.site-menu {
  width: 55%;
  font-size: 2.3rem;
  color: $primary-dark;

  @include mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background-color: $primary-lightest;
    color: $primary-darker;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
    transform: scaleY(0);
    transform-origin: top;
    transition: $transition-default;
  }

  &__inner {
    display: flex;
    width: 100%;
    padding: 0.8rem 0;

    @include mobile {
      flex-direction: column;
      padding: 0;
    }
  }

  &__item {
    text-align: right;
    flex-grow: 1;

    @include mobile {
      text-align: center;
      font-size: 1.8rem;
      padding: 2rem 0;
      border-bottom: 3px solid #eee;

      &:hover {
        cursor: pointer;
        color: $primary-darkest;
      }
    }
  }

  &__link {
    color: inherit;

    &:hover {
      color: $primary-lightest;
    }

    @include mobile {
      &:hover {
        color: inherit;
      }
    }
  }
}

.burger-menu {
  display: none;

  @include mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;
    z-index: 100;
  }

  &__line {
    width: 3rem;
    padding: 0.15rem 0;
    background-color: $primary-lightest;
    border-radius: 0.3rem;
  }

  &:hover {
    cursor: pointer;
  }
}

// checkbox hack to toggle nav menu
#toggle-menu {
  position: fixed;
  left: -100%; // throw off screen

  &:checked {
    & ~ label[for="toggle-menu"] .burger-menu__line {
      background-color: $primary-dark;
    }
    & ~ .site-menu {
      transform: scaleY(1);
    }
  }
}

label[for="toggle-menu"] {
  display: flex;
  align-items: center;
}

.site-hero {
  padding: $spacing-xlrg $spacing-sml;
  background-color: $primary-darkest;

  @include mobile {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 105rem;
    margin: 0 auto;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }
}

.about {
  max-width: 60rem;

  @include mobile {
    order: 2;
    text-align: center;
  }
  @include tablet {
    order: 2;
    text-align: center;
  }

  &__header {
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: $spacing-med;
    color: $primary-lightest;

    &::after {
      content: " \1F44B";
      font-size: inherit;
    }

    @include mobile {
      font-size: 4rem;
      margin-bottom: $spacing-xsml;
    }
  }

  &__txt {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: $spacing-med;
    color: $primary-dark;

    @include mobile {
      font-size: 2.5rem;
      max-width: 45rem;
      margin-bottom: $spacing-med;
    }
  }

  &__img {
    width: 37rem;
    flex-shrink: 0;

    @include mobile {
      order: 1;
      width: 28rem;
      margin-bottom: $spacing-med;
    }

    @include tablet {
      order: 1;
      margin-bottom: $spacing-med;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;

  &__item {
    text-align: center;
    width: 33.33%; // older browsers
    width: calc(100% / 3);
    margin-bottom: $spacing-med;
  }

  &__img {
    max-width: 13rem;
    margin-bottom: $spacing-xsml;

    @include mobile {
      width: 10rem;
    }
  }

  &__name {
    font-size: 2.8rem;

    @include mobile {
      font-size: 2rem;
    }
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    text-align: center;
    padding-bottom: $spacing-med;
    margin: 0 calc(#{$spacing-med}/ 2) $spacing-med;
    overflow: hidden;
    background-color: $primary-lightest;
    border-radius: 0.6rem;
    border-bottom: 0.6rem solid $primary-accent;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  }

  &__img {
    margin-bottom: $spacing-med;
  }

  &__name {
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: $spacing-sml;
    color: $primary-darkest;
  }

  &__desc {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: $spacing-sml;
    color: $primary-darker;
  }
}

.contact {
  width: 65%;

  @include mobile {
    text-align: center;
    width: 100%;
    padding-bottom: $spacing-med;
  }

  &__header {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: $spacing-med;
    color: $primary-lightest;

    @include mobile {
      font-size: 4rem;
    }
  }

  &__txt {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: $spacing-med;
    color: $primary-dark;
  }
}

.social-links {
  &__item {
    display: flex;
    align-items: center;
    padding: 1.8rem 0;

    &:hover {
      & * {
        color: $primary-lightest;
      }

      & img {
        filter: invert(1);
        transform: translateY(-3px);
      }
    }
  }

  &__img {
    width: 2.3rem;
    margin-right: $spacing-xsml;
    filter: invert(0.5); // css filters to style svgs thru img tags
    transition: $transition-default;
  }

  &__link {
    font-size: 2.3rem;
    font-weight: 500;
    color: $primary-dark;
    transition: $transition-default;
  }
}

.site-footer {
  padding: $spacing-med 0;
  background-color: #101114;

  &__inner {
    text-align: center;
  }

  &__copyright {
    font-size: 1.8rem;
    font-weight: 300;
    color: $primary-dark;
  }
}

.btn {
  display: inline-block;
  border: 2px solid $primary-accent;
  color: $primary-lightest;
  background-color: $primary-accent;
  transition: all 0.2s;

  &:hover {
    background-color: transparent;
  }

  &--large {
    font-size: 3rem;
    padding: 2.3rem 4rem;
    border-radius: 5rem;

    &:hover {
      box-shadow: 0 0 15px 3px rgba(75, 108, 193, 0.3);
    }

    @include mobile {
      padding: 2rem 3.3rem;
      font-size: 2rem;
    }
  }

  &--small {
    font-size: 2rem;
    padding: 1.5rem 5rem;
    margin: 0 1rem;
    border: none;
    border-radius: 3rem;
    color: $primary-darkest;
    background-color: transparent;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      color: $primary-lightest;
    }
  }

  &--hov-accent {
    &:hover {
      background-color: $primary-accent;
    }
  }

  &--hov-dark {
    &:hover {
      background-color: $primary-darkest;
    }
  }
}

.form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: calc(#{$content-width} / 2);
  height: 100%;
  padding: 5rem 3rem;
  background-color: $primary-darkest;
  color: $primary-lightest;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transform: translateX(150%);
  transition: all 0.2s ease-out;

  @include mobile {
    left: 0;
    width: 100%;
    justify-content: center;
    transform: translateX(0);
  }

  @include tablet {
    left: 0;
    width: 100%;
    padding: 5rem 10rem;
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    align-self: flex-end;
    padding: 2rem;
    font-size: 2.4rem;
    font-weight: 900;
    color: $primary-dark;

    &:hover {
      cursor: pointer;
      color: $primary-lightest;
    }

    @include mobile {
      font-size: 4rem;
    }
  }

  &__label {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary-dark;
  }

  &__input {
    height: 3.5rem;
    padding: 1rem;
    margin-bottom: $spacing-sml;
    font-size: 2rem;
    border-radius: 0.6rem;
    border: 2px solid $primary-dark;

    @include mobile {
      height: 6rem;
    }

    @include tablet {
      height: 5rem;
    }

    &--text {
      height: 10rem;
      margin-bottom: $spacing-med;
      resize: none;
    }
  }
}

label[for="toggle-contactform"] {
  opacity: 1;
  transition: $transition-default;
}

// checkbox hack to toggle form
#toggle-contactform {
  position: fixed;
  left: -100%; // throw off screen

  &:checked {
    & ~ .form {
      opacity: 1;
      visibility: visible;
      transform: translateX(100%);

      @include mobile {
        transform: translateX(0);
      }

      @include tablet {
        transform: translateX(0);
      }
    }

    & ~ label[for="toggle-contactform"] {
      opacity: 0;
    }
  }
}

// Utility classes
.slanted-bottom {
  padding-bottom: 15rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - #{$spacing-lrg}));
}

.slanted-top {
  padding-top: 11rem;
  clip-path: polygon(0 0, 100% #{$spacing-lrg}, 100% 100%, 0 100%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pos-rel {
  position: relative;
}
