// Variables
$primary-dark: #191a1d;
$primary-dark-text: #5e5e5e;
$primary-dark-header: #ffffff;
$primary-accent: #4b6cc1;
$primary-light-header: #919191;
$margin-btm: 4rem;

html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%; //10/16
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: inherit;
  list-style: none;
}

.site-section {
  border: 1px dashed black;

  &--light {
    background-color: $primary-light-header;
  }

  &--dark {
    background-color: $primary-dark;
  }

  &__inner {
    border: 1px solid red;
    max-width: 100rem;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: $margin-btm * 2;
    color: $primary-dark-text;
  }
}

.site-header {
  background-color: $primary-dark;

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
  }

  .site-header__logo {
    color: $primary-dark-header;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      width: 25%;
      margin-top: 1.5rem;
      padding: 0.3rem 0;
      border-radius: 0.3rem;
      background-color: $primary-accent;
    }
  }
}

.site-menu {
  display: flex;
  align-items: center;
  width: 55%;
  color: $primary-light-header;
  font-size: 2.3rem;

  &__inner {
    display: flex;
    width: 100%;
    padding: 0.8rem 0;
  }

  &__item {
    text-align: right;
    flex-grow: 1;
  }

  a:hover {
    color: $primary-dark-header;
    cursor: pointer;
  }
}

.site-banner {
  background-color: $primary-dark;
  padding: 11rem 0;
  margin-bottom: 7rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem;
  }
}

.about {
  max-width: 60rem;

  &__header {
    color: $primary-dark-header;
    margin-bottom: $margin-btm;
    font-size: 7rem;
    font-weight: 400;

    &::after {
      content: " \1F44B";
      font-size: 6rem;
    }
  }

  &__txt {
    color: $primary-light-header;
    line-height: 1.4;
    font-size: 3.5rem;
    margin-bottom: $margin-btm;
  }

  &__img {
    text-align: center;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 33.33%; // older browsers
    width: calc(100% / 3);
    text-align: center;
  }

  &__img {
    max-width: 14rem;
    margin-bottom: 1.5rem;
  }

  &__name {
    font-size: 2.8rem;
    margin-bottom: 7rem;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: $primary-accent;
  color: $primary-dark-header;

  &--large {
    font-size: 3rem;
    padding: 2.3rem 4rem;
    border-radius: 5rem;
  }
}

// Utility classes
.slanted-bottom {
  padding-bottom: 18rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
